streamlit
openai
requests
python-dotenv
streamlit-lottie
pypdf
pytesseract
pdf2image
reportlab
matplotlib
pandas
pillow

# NUEVOS
pymysql
streamlit-cookies-manager
python-docx
openpyxl
python-pptx
